.DS_Store
node_modules
npm-debug.log
.sass-cache
.idea

.revision
.ruby-version
Gemfile
Gemfile.lock
dandelion.yml
lib/cache
assets/css/temp.css

# HubSpot COS Uploader
.sync-history.json
.cos-sync-config.yaml
upload_to_cos
