
$white          : #ffffff;
$black          : #000000;
$mcb-gray1      : #cccccc;
$mcb-gray-sub1  : #ada398;
$mcb-gray-sub2  : #b3aba1;
$mcb-gray-sub3  : #cac3bc;
$mcb-gray-lite  : #e8e5e3;
$mcb-brand-dark : #221f1f;
$mcb-brand-gray : #a2968a;

$mcb-text       : #373535;
$mcb-purp       : #8e108e;
$mcb-purp-dark  : #671b67;
$mcb-oran       : #ef8e2d;

$rayt           : 0.2s;

.bump28   { margin-top:28px;  }
.bump18   { margin-top:18px;  }
.bump42   { margin-top:42px;  }

hr.dotter {
  height: 4px;
  background: url(assets/img/dotter.png) 50% 50% repeat-x;
  border: none;
  margin: 28px 0;
}

@mixin trans($q: all) {
  -webkit-transition: $q $rayt; /* For Safari 3.1 to 6.0 */
  transition: $q $rayt;
}

html { height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 100%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;  /*-webkit-text-stroke: 0.005em*/
}


h3, h2, h1 {
  font-size: 14px;
}

ul, ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.float-left {
  @include float-left;
}

.float-right {
  @include float-right;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.align-right {
  position: absolute;
  right: 0;
}

code { font: inherit; }

// TODO: Re-examine re-list usage. Do we really need this?
p, ul.re-list, ul, ol {
  /* font-size: 12px; */
  font-size: 16px;
  /* line-height: 1.4; */
  line-height: 28px;
  &.gran  {
    /* font-size: 13px; */
    font-size: 18px;
  }
  &.purp {
    color: $mcb-purp;
  }
  em {
    font-style: oblique;
  }
}

ul.re-list, ol.re-list {
  margin-bottom: 24px;
  list-style: disc;
  padding-left: 18px;
  li {
    padding-top: 6px;
    &:first-child {
      padding-top: 0;
    }
  }
}

.content {
  p {
    margin-bottom: 18px;
  }
  p:first-child {
    margin-top: 0;
  }
}

.container > .row {
  padding-left: 0;
  padding-right: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
}

.logo {
  display: block;
  width: 160px;
  height: 41px;
}



/* Buttons and Links */
a {
  color: $mcb-purp;
  text-decoration: none;
  &:hover {
    color: $mcb-oran;
  }
}

.cta, a.cta, #comments input#submit {
  display: inline-block;
  width: auto;
  line-height: 1.2;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  background: $mcb-purp;
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.05em;
  width: 184px;
  @include trans(background-color);
  &:hover {
    background-color: $mcb-oran;
  }
  &.trans {
    display: inline-block;
    background: transparent;
    color: $mcb-purp;
    padding: 0;
    line-height: 28px;
    clear: both;
    float: none;
    @include trans(color);
    width: auto;
    text-align: left;
    .fa {
      font-size: 28px;
      float: left;
      width: 28px;
      margin-right: 6px;
    }
    &:hover {
      color: $mcb-oran;
    }
  }
}

input[type=submit].cta, #comments input#submit  {
  border: none;
  outline: none;
}

/* Typo */

/* Headers */
.head-it  {
  color: darken($mcb-gray-sub1,10%);
  border-bottom: 1px solid $mcb-gray-sub2;
  text-transform: uppercase;
  line-height: 1.4;
  padding: 0px 0 6px;
  margin-bottom: 18px;
  .fa {
    float: right;
    font-size: 22px;
  }
  &.no-base {
    border-bottom: none;
    margin-bottom: 12px;
  }
}

.header .head-it {
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 22px;
  color: #b2b2b2;
}

/* Lists */
.link-list  {
  margin-bottom: 12px;
  list-style: none;
  li {
    padding: 14px 0;
    border-top: 1px solid darken($mcb-gray-lite,8%);
    line-height: 1.2;
    .titulo {
      display: inline-block;
      font-size: 14px;
    }
    .meta {
      display: block;
      font-size: 10px;
    }
    &:first-child {
      border-top: none;
      padding-top: 6px;
    }
  }
  & + .cta {
    margin-bottom: 28px;
  }
  &.non {
    font-size: 14px;
    li {
      border-top: none;
    }
  }
}

.bigr {
  font-size: 125%;
  text-transform: uppercase;
}


/* Structural */
.hero {
  display: block;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 40px;
  .content {
    padding-top: 32px;
    /*width:630px;display:block;position:absolute;bottom:90px;right:20px; */
    h1 {
      /* font-size: 24px; */
      margin-bottom: 10px;
      color: #fff;
      font-size: 32px;
    }
    p {
      color: $mcb-brand-gray;
      background: rgba(0,0,0,0.0);
      text-shadow: 0 2px 6px $black;
    }
    a.cta {
      margin-top: 12px;
      box-shadow: 0px 1px 1px rgba(255,255,255,0.1);
      /*position:absolute;bottom:20px;right:20px;*/
      &:hover {
        background: #fff;
        color: $mcb-oran;
      }
    }
  }
}

.proj-desc-hero {
  position: relative;
}


/* Header Items */
.header {
  background-color: $black;
  border-bottom: 0px solid red;
  position: relative;
  margin-bottom: 32px;
  /* min-height: 550px; */
  .container {
    position: relative;
    z-index: 1;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 28px;
    float: left;
  }
  .toggle {
    font-size: 24px;
    width: 21px;
    float: right;
    margin-top: 16px;
    color: $mcb-gray-lite;
  }
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .menu > li {
      line-height: 1;
      &.current-menu-item a {
        color: $mcb-oran;
      }
      /* &:first-child {    } */
    }
    a {
      color: #b2b2b2;
      display: block;
      text-transform: uppercase;
      line-height: 1;
      padding: 8px 20px;
      font-weight: 600;
    }
    &.desktop {
      display: none;
    }
    &.mobile {
      clear: both;
      text-align: center;
      ul {
        display: none;
        padding-bottom: 28px;
      }
      li {
        border-top: 1px $mcb-gray-lite;
        margin-bottom: 2px;
        background: rgba(0,0,0,0.5);
      }
    }
  }
}


.single-post, .search-results, .search-no-results {
  .menu-item-157, .menu-item-56 {
     a {
       color: $mcb-oran;
     }
  }
}


.post-type-archive-work #menu-item-49  {
  a {
    color: $mcb-oran;
  }
}


/* Footer Items */
$fut_colr: darken($mcb-gray-sub1,15%);
.footer {
  /* border-top: 1px solid #a0968a; */
  padding-top: 30px;
  margin-top: 80px;
  background-color: $fut_colr;
  color: $white;
  /* font-size: 0.85em; */
  padding-bottom: 30px;
  a {
    color: $white;
    &:hover {
      color: $mcb-purp;
    }
  }
}


/* Homepage */
/* .home { */
  /* .hero { */
  /*   display: block; */
  /*   width: 100%; */
    /*background:#000;height:340px;*/   /*margin-bottom:24px;*/
  /* } */
/* } */


.page-home {
}

html.svg {
  /*.logo   { background-image:url(assets/img/logo.svg);  }*/
}


/* Work Archive */
ul.horz-subnav, .horz-subnav ul {
  list-style: none;
  padding: 12px 0;
  margin: 6px auto;
  text-transform: uppercase;
  font-size: 14px;
  background:#f6f4f3;
  li {
    a {
      display: block;
      padding: 2px 12px;
      line-height: 1;
    }
    &.curr a {
      color:$mcb-oran;
    }
  }
}

a.tile p {
  font-size: 14px;
  line-height: 1.4;
}

.rac {
  padding-left: 0;
  padding-right: 0;
  &.serv > a  {
    @include fancytiles(3,3,1);
    background-repeat: no-repeat;
    background-position: 50% 15%;
    display: block;
    text-align: center;
    color: #706960;
    padding: 148px 25px 25px;
    h3 {
      color: $mcb-purp;
      text-transform: uppercase;
    }
  }
  & > a {
    @include fancytiles(4,3,2);
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: $gutter;
    /* margin-bottom:20px; height:240px;*/
    img {
      /*width:100%;height:100%;*/
      position: relative;
      z-index: 1;
      vertical-align: middle;
      &.sub {
        display: none;
      }
    }
    .screen {
      opacity:0;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      width:100%;
      height:100%;
      padding:18px;
      z-index:3;
      background:rgba(34,31,31,0.8);
      cursor:default;
      @include trans();
      h3  { color:#fff;text-transform:uppercase;}
      p   { color:$mcb-gray-sub1; }
    }
    &:hover {
      img.sub {
        opacity: 1;
      }
      .screen {
        opacity: 1;
        border-color: rgba(34,31,31,0.9);
      }
    }
    .cta, .cta-rac {
      cursor: pointer;
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      width: auto;
    }
    .cta-rac .cta {
      position: relative;
      bottom: auto;
      left: auto;
      right: auto;
      display: block;
      width: 100%;
      margin-top:4px;
    }
  }
  &:last-child {
    margin-bottom: 24px;
    .tile   {   }
  }
}


// hide related projects for now
.rac.row.rels {
  /* display: none; */
  /* visibility: hidden; */
}

/* .page-services .rac.row.rels { */
/*   display: none; */
/* } */
/*  */
/* .page-services h3.head-it { */
/*   visibility: hidden; */
/* } */

.float-wrap {
  display: none;
  position: relative;
  .float {
    position: relative;
    /*top: 32px;left: 12px;right: 12px;bottom:0;*/
    background: #fff;
    min-height: 400px;
    height: auto;
    border: 0px solid red;
    z-index: 5;
    h2 {
      color: $mcb-oran;
      text-transform: uppercase;
      font-size: 24px;
      padding: 18px 0 6px;
      line-height:1;
      & + p {
        font-size: 13px;
        margin-bottom: 28px;
      }
    }
    .service-icon {
      width: 48.8%;
      height: auto;
      float: left;
      margin: 0 2.4% 2.4% 0;
    }
    .head-it {
      margin-top: 40px;
    }
    &.non {
      min-height: 0.001em;
    }
  }
  .close {
    position: absolute;
    top: 18px;
    right: 0px;
    font-size: 48px;
  }
}


/* Case Study */
.bloc-quote {
  color: $mcb-purp;
  background: #f8f1f8;
  padding: 12px 18px;
  line-height: 1.3;
  border-radius: 4px;
  margin-top: 50px;
  & {
    position: relative;
    background: #f8f1f8;
  }
  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(248, 241, 248, 0);
    border-bottom-color: #f8f1f8;
    border-width: 16px;
    margin-left: -16px;
  }
  p {
    font-size: 16px;
  }
  .quo {
    color: $mcb-brand-gray;
    font-size: 16px;
    line-height: 1;
  }
  .attr {
    color: $mcb-brand-gray;
    text-align: right;
    font-size: 12px;
    margin-bottom: 0;
  }
}

.buckets {
  display: none;
  h3 {
    margin-bottom: 12px;
    text-align: center;
  }
  .bucket {
    background: #dad5d0;
    background-repeat: no-repeat;
    margin-bottom: 28px;
    background-position: 50% 16px;
    /*background-position:32px 50%;padding:24px 18px 20px 140px;*/
    color: #a2968a;
    padding: 60px 18px 20px 18px;
    border-radius: 6px;
    p {
      margin-bottom: 0;
    }
    &.search {
      background-image: url(assets/img/ico-search.png);
      background-size: 34px 36px;
    }
    &.cycle {
      background-image: url(assets/img/ico-cycle.png);
      background-size: 37px 37px;
    }
  }
}

.fun-fact {
  background: $mcb-brand-gray;
  color: #fff;
  border-radius: 4px;
  padding: 60px 20px 30px 20px;
  font-size: 18px;
  margin-top: 36px;
  /*padding:30px 20px 30px 160px;*/
  &.binocs {
    background: $mcb-brand-gray url(assets/img/ico-binocs.png) 50% 18px no-repeat;
    background-size: 50px 24px;
    /*30px 30px*/
  }
  p {
    margin-bottom: 0;
  }
}


/* Services Page */
.page-services {
  .footer {
    margin-top: 20px;
  }
  .stacs {
    margin-top: 24px;
    & > div {
      & > div {
        @include fancytiles(3,3,1);
        &:nth-child(1) h3 {
          color: $mcb-oran;
        }
        &:nth-child(2) h3 {
          color: $mcb-gray-sub1;
        }
        &:nth-child(3) h3 {
          color: $mcb-purp;
        }
      }
    }
    h3 {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  .mobile.service-menu {
    margin-top:18px;
    li {
      text-align: center;
      background: #f1f1f1;
      &.open {
        color: #fff;
        &:nth-child(1) {
          background: $mcb-oran;
        }
        &:nth-child(2) {
          background: $mcb-gray-sub1;
        }
        &:nth-child(3) {
          background: $mcb-purp;
        }
      }
    }
  }
}


/* Connect Page */
.gmnoprint img { max-width: none; } // needed for Google Map

.page-connect {
  #map-canvas {
    height: 488px;
    width: 488px;
  }
  .footer {
    margin-top: 20px;
  }
  .cta, .address {
    /* margin-bottom: 28px; */
  }
  .phone, .email {
    @include float(left);
    margin-right: 30px;
  }
}

.social-rack {
  font-size: 28px;
}

.instagram  {
  a {
    @include fancytiles(4,4,2);
    margin-bottom: $gutter;
  img {
    opacity: 0.8;
    box-shadow: 0 0 11px #999;
    @include trans();
  }
  &:hover img { opacity:1; }
  }
}


/* About and Team Single */
.page-about {
  .social-rack {
    font-size: 20px;
    li {
      text-align: center;
      & > a > span {
        display: block;
        font-size: 12px;
      }
    }
  }
}

.full-wrap {
  position: relative;
}

.cloak {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}

.form-pop {
  display: block;
  background: #fff;
  padding: 12px 18px;
  margin-top: 62px;
  box-shadow: 0 0 12px $black;
  position:relative;
  .head-it {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin-bottom: 8px;
  }
  input[type=text], input[type=email], textarea {
    margin-top: 12px;
    display: block;
    width: 100%;
    border: 1px solid $mcb-gray-sub2;
    outline: none;
    padding: 12px 14px;
    line-height: 1.2;
    font-size: 14px;
  }
  textarea {
    height: 180px;
  }
  label {
    font-size: 12px;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 18px;
    font-size: 48px;
  }
  input.cta {
    margin: 28px auto 28px;
    display: block;
  }
}

.form-confirmation {
  display: none;
  background: $mcb-purp;
  color: #fff;
  text-align: center;
  margin-top: 62px;
  position: relative;
  & > img {
    padding: 24px 0;
    max-width: 100%;
  }
  p {
    font-size: 115%;
    padding-bottom: 32px;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 18px;
    color: #fff;
    font-size: 48px;
  }
}



/* Blog */
.blog-hero {
  display: block;
  position: relative;
  img {
    position: relative;
    z-index: 1;
  }
}


.search-hold {
  border: 1px solid $mcb-gray-sub1;
  position: relative;
  height: 38px;
  input {
    position: absolute;
  }
  input[type=text] {
    border: none;
    outline: none;
    top: 4px;
    bottom: 4px;
    left: 18px;
    display: block;
    width: 80%;
  }
  input[type=submit] {
    border: 0px solid red;
    background: transparent;
    outline: none;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 38px;
    z-index: 2;
  }
  .fa {
    float: right;
    position: relative;
    z-index: 1;
    line-height: 38px;
    width: 38px;
    text-align: center;
    color: $mcb-gray-sub1;
  }
}

.listed, .blog-entry {
  h2, h1 {
    font-size: 24px;
    color: $mcb-purp;
    line-height: 1.2;
  }
  .meta-strip {
    color: $mcb-gray-sub1;
    line-height: 1;
    margin-top: 22px;
    font-size: 10px;
    .name {
      padding-right: 16px;
      border-right: 1px solid $mcb-gray-sub2;
    }
    .file {
      padding-left: 16px;
    }
  }
}

.blog-entry {
  h1 {
    color: $mcb-oran;
  }
  .meta-strip {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .tag-list {
    line-height: 28px;
    text-align: center;
    margin-bottom: 28px;
    p     {   }
  }
  .social-rack {
    text-align: center;
  }
  .pagi {
    margin-bottom: 28px;
    .tile {
      text-align: center;
      span {
        display: block;
        width: 15px;
        height: 25px;
        background: url(assets/img/aros-60-100.png) no-repeat;
        background-size: 30px 50px;
        margin: 0 auto 8px;
      }
      &.next {
        float: right;
      }
      &.prev span {
        background-position: 0 0;
      }
      &.next span {
        background-position: 100% 0;
      }
      &.prev:hover span {
        background-position: 0 100%;
      }
      &.next:hover span {
        background-position: 100% 100%;
      }
    }
  }
}

#comments {
  .comments-title {
    font-size: 18px;
    color: #aaa;
    padding-bottom: 24px;
    span {
      color: $mcb-purp;
    }
  }
  form.comment-form {
    p {
      padding-bottom: 20px;
      clear: both;
      min-height: 32px;
    }
    label {
      display: inline-block;
      float: left;
      width: 20%;
    }
    input[type=text], textarea {
      display: inline-block;
      float: left;
      width: 80%;
      border: 1px solid #ccc;
      background: #f1f1f1;
      outline: none;
      padding: 4px;
      &:focus {
        border-color: $mcb-purp;
        color: $mcb-purp;
        background: #fff;
      }
    }
    .form-allowed-tags {
      padding-top: 32px;
    }
  }
  .comment + .children {
    padding-left: 2.5%;
    padding-top: 16px;
  }
  #reply-title {
    padding-top: 20px;
  }
  .comment-author.vcard, .comment-meta.commentmetadata, .comment-reply-link {
    font-size: 12px;
  }
}

.job-trig {
  margin-top: 12px;
  cursor: pointer;
}

.head-it + .job-trig {
  margin-top: 0;
}

.tucc {
  padding: 12px 0;
  p, ul, ol {
    padding-top: 12px;
    &:first-child {
      padding-top: 0;
    }
  }
}


/* Search & Results */
.search-title {
  color: $mcb-gray-sub1;
  span {
    color: $mcb-purp;
  }
}


.load-cloak {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.8);
  z-index:9999;
  .icon {
    display: block;
    width: 50px;
    height: 50px;
    color: $mcb-purp;
    text-align: center;
    font-size: 50px;
    line-height: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -22px;
  }
}


.ribbon-container {
  position: absolute;
  top: 0;
  z-index: 2;
}

.ribbon {
  display: block;
  width: 50px;
  position: relative;
  color: #fff;
  padding: 20px 0 10px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);

  background-color: $mcb-purp-dark;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($mcb-purp), to($mcb-purp-dark));
  background-image: -moz-linear-gradient(top, $mcb-purp, $mcb-purp-dark);
  background-image: -ms-linear-gradient(top, $mcb-purp, $mcb-purp-dark);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $mcb-purp), color-stop(100%, $mcb-purp-dark));
  background-image: -webkit-linear-gradient(top, $mcb-purp, $mcb-purp-dark);
  background-image: -o-linear-gradient(top, $mcb-purp, $mcb-purp-dark);
  background-image: linear-gradient(top, $mcb-purp, $mcb-purp-dark);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$mcb-purp', endColorstr='$mcb-purp-dark', GradientType=0);
  .day {
    font-size: 1.4em;
  }
}


/*
  Sweet CSS3 Ribbons http://jsfiddle.net/kirkov/FT8hV/
*/
.ribbon:after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  position: relative;
  bottom: -34px;
  z-index: 100;
  border-width: 0 25px 24px 25px;
  border-style: solid;
  border-color: $mcb-purp-dark $mcb-purp-dark transparent $mcb-purp-dark;
}

.ribbon-lg {
  /* line-height: 1.5em; */
  width: 70px;
  .day {
    font-size: 1.4em;
  }
}

.ribbon-lg:after {
  bottom: -46px;
  border-width: 0 35px 36px 35px;
}
