



/* @import url('http://example.com/example_style.css'); */

@import url('//fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900');

@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("//cdn2.hubspot.net/hub/448074/file-2087754705-eot/Images/fontawesome-webfont.eot") format("embedded-opentype"),
        url("//cdn2.hubspot.net/hub/448074/file-2087769730-woff/Images/fontawesome-webfont.woff") format("woff"),
        url("//cdn2.hubspot.net/hub/448074/file-2087754710-ttf/Images/fontawesome-webfont.ttf") format("truetype");
}

/**
 * CSS @imports must be at the top of the file.
 * Add them above this section.
 */



/* ==========================================================================
   HS COS Boilerplate v1.4.0
   ========================================================================== */

/* This responsive framework is required for all styles. */
{% include "hubspot/styles/responsive/required_base.css" %}
{% include "custom/page/MCBru-theme/MCBru-modules.css" %}



/* These includes are optional, but helpful. */
{% include "hubspot/styles/patches/recommended.css" %}





/* ==========================================================================

   Index:

  1. BASE STYLES
    - Variables
    - Macros
    - Base
    - Typography

  2. COS STRUCTURE
    - Structure
    - Header
    - Content
    - Footer

  3. MAIN NAVIGATION
    - Custom Menu Primary
    - Mobile Menu

  4. TEMPLATE MODULE CLASSES
    - Common Template Classes
    - Site Pages
    - Landing Pages
    - System Pages

  5. COS COMPONENTS
    - Blog
    - Forms
    - Buttons

  6. MISCELLANOUS

  7. MOBILE MEDIA QUERIES

   ========================================================================== */








/* ==========================================================================


   1. BASE STYLES


   ========================================================================== */





/* ==========================================================================
   Variables
   ========================================================================== */


/**
 * Find the most consistently used font styles, colors, and container widths
 * for your site and assign them to the jinja variables below for easy use
 * and reference.
 *
 * Apply the variable as shown below.  Ignore the jingja comment tags.
 *
 * {#  property: {{ variableName }};  #}
 */

/* Colors */
{% set baseColor      = "#373535" %}    /* {# Dark Gray  |  Used on 'body' in 'Base'  |  Ex. "color: {{ baseColor }};" #} */
{% set linkColor      = "#8e108e" %}    /* {# Gray  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkColor }};" #} */
{% set linkHover      = "#ef8e2d" %}    /* {# Black  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkHover }};" #} */
{% set mcb_purp_dark  = "#671b67" %}    /* {# Medium Gray  |  Ex. "color: {{ accentColor1 }};" #} */
{% set accentColor2   = "#ccc" %}    /* {# Light Gray  |  Ex. "color: {{ accentColor2 }};" #} */
{% set accentColor3   = "#ddd" %}    /* {# Lightest Gray  |  Ex. "color: {{ accentColor3 }};" #} */

/* Typography */
{% set baseFontFamily    = "Titillium Web,sans-serif" %}            /* {# Used on 'body' in 'Base'  |  Ex. "font-family: {{ baseFontFamily }};" #} */
{% set baseFontSize      = "16px" %}                         /* {# Used on 'body' in 'Base'  |  Ex. "font-size: {{ baseFontSize }};" #} */
{% set baseLineHeight    = "28px" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "line-height: {{ baseLineHeight }};" #} */
{% set webFont1          = "Helvetica, Arial, Sans-serif" %} /* {# Ex. "font-family: {{ webFont1 }};" #} */

/* Containers */
{% set maxWidth = "1000px" %} /* Used on '.page-center' in 'Base' and in the 'Portrait tablet to landscape and desktop' media query */




/* ==========================================================================
   Macros
   ========================================================================== */


/**
  * Create jinja macros for CSS3 properties that need browser prefixes.
  *
  * Apply the style as shown below on it's own CSS property line.
  * Ignore the jinja comment tags.
  *
  * {#  {{ variableName("values") }}  #}
  */

{% macro transition(value) -%}
  -webkit-transition: {{ value }};
  -moz-transition: {{ value }};
  -o-transition: {{ value }};
  -ms-transition: {{ value }};
  transition: {{ value }};
{%- endmacro %}

{% macro borderRadius(value) -%}
   -webkit-border-radius: {{ value }};
   -moz-border-radius: {{ value }};
   -o-border-radius: {{ value }};
   -ms-border-radius: {{ value }};
   border-radius: {{ value }};
{%- endmacro %}

{% macro boxShadow(value) -%}
   -webkit-box-shadow: {{ value }};
   -moz-box-shadow: {{ value }};
   -o-box-shadow: {{ value }};
   -ms-box-shadow: {{ value }};
   box-shadow: {{ value }};
{%- endmacro %}


{% macro textShadow(value) -%}
   -webkit-text-shadow: {{ value }};
   -moz-text-shadow: {{ value }};
   -o-text-shadow: {{ value }};
   -ms-text-shadow: {{ value }};
   text-shadow: {{ value }};
{%- endmacro %}
/**
  * Example of how to apply the above macro (ignore the jinja comment tags):
  *
  * a {
  *   color: red;
  *   font-size: 12px;
  *   {#  {{ transition("all .2s linear") }}  #}
  * }
  */




/* ==========================================================================
   Base
   ========================================================================== */


/**
 * Box Sizing
 *
 * Applies a natural box layout model to all elements so that width and padding
 * are essentially combined, making responsive styles easier to manage.
 */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Website background color and default font styles */
body {
  /* background: #fff; */
  color: {{ baseColor }};
  font-family: {{ baseFontFamily }};
  font-size: {{ baseFontSize }};
  line-height: {{ baseLineHeight }};
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing:antialiased;
}

/**
 * Page Center
 *
 * Apply .page-center to full-width modules.
 */

.container-fluid .row-fluid .page-center {
  float: none;
  max-width: {{ maxWidth }};
  margin: 0 auto;
}

a { color: {{ linkColor }};
    {{ transition("color 0.2s ease 0s") }}
    text-decoration:none;
}
a:hover, a:focus { color: {{ linkHover }};
    {{ transition("color 0.2s ease 0s") }}
    text-decoration:none;
}

/* Highlighted Text */
::-moz-selection {
  color:#373535;
  background:#B3D4FC;
  text-shadow: none;
}
::selection {
  color:#373535;
  background:#B3D4FC;
  text-shadow: none;
}

/* Corrects width issues in table elements created via the wysiwyg editor */
table tr td img {
    max-width: initial;
}



/* ==========================================================================
   Typography
   ========================================================================== */


/* Basic text */
p {
    margin:14px 0;
    padding:0;
}
small {}
strong {}
em {}
cite {}
code {}
pre {}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: {{ baseFontFamily }};
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1,h2,h3 {
  border-bottom: 1px solid #b3aba1;
  color: #968a7c;
  font-size: 18px;
  font-weight:700;
  font-family: "Titillium Web",sans-serif;
  line-height:25.2px;
  padding: 0 0 6px;
  text-transform: uppercase;
}

h1 {
  margin:0 0 18px;
}

h2 {
  font-size: 32px;
  color: #ef8e2d;
  margin:14px 0 18px;
}

h3 {
  margin:42px 0 18px;
}

h4 {
    color:#373535;
    font-size: 16px;
    font-weight:700;
    line-height:16px;
    margin:21px 0;
    padding: 0;
}
h5 {
    color:#373535;
    font-size: 13.28px;
    font-weight:700;
    line-height:13.28px;
    margin:22px 0;
    padding: 0;
}
h6 {
    color:#373535;
    font-size: 10.71px;
    font-weight:700;
    line-height:10.71px;
    margin:24px 0;
    padding: 0;
}

/* Lists */
ul, ol {}
ul ul, ul ol, ol ol, ol ul {}
li {}

ul.unstyled, ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Quotes */
blockquote {}
blockquote p {}
blockquote small {}
blockquote small:before {}

q:before, q:after, blockquote:before, blockquote:after {}


 .body-container .hs_cos_wrapper_type_rich_text ul li{

 }





/* ==========================================================================


   2. COS STRUCTURE


   ========================================================================== */





/* ==========================================================================
   Structure
   ========================================================================== */


/* The outer wrappers of your website */
.header-container-wrapper,
.body-container-wrapper,
.footer-container-wrapper {}

/* The inner wrappers of your website */
.header-container,
.body-container,
.footer-container {}




/* ==========================================================================
   Header
   ========================================================================== */


.header-container-wrapper {}
.header-container {}

.custom-top-wrapper {
    background: none repeat scroll 0 0 #000000;
}
.custom-top-wrapper .page-center {
    max-width: 1105px !important;
}

.custom-logo {
    padding:40px 0 28px 53px;
}

/* Logo styling */
.header-container .hs_cos_wrapper_type_logo {}
.header-container .hs_cos_wrapper_type_logo a {}
.header-container .hs_cos_wrapper_type_logo a img {}




/* ==========================================================================
   Content
   ========================================================================== */


.body-container-wrapper {}
.body-container {}

.body-container .page-center{
    padding: 30px 12px;
}


/* Unique Pages
   ========================================================================== */

/* Homepage */

/* Contact Us */

/* About Us */


/* Modular & Reusable Components
   ========================================================================== */

/* Callouts */

/* Social Media Custom Icons */

/* Additional Menus aside from the Main Nav */




/* ==========================================================================
   Footer
   ========================================================================== */


.footer-container-wrapper {}
.footer-container {}

.custom-bottom-wrapper {
    background: none repeat scroll 0 0 #8a7d6e;
}

.footer-container .page-center {
    /* border-top: 1px solid #a0968a; */
    margin-top: 30px !important;
    padding:10px 12px 40px;
}
.custom-copyright p,
.custom-copyright a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-decoration: none;
}
.custom-copyright a:hover{
    color: #8e108e;
}




/* ==========================================================================


   3. MAIN NAVIGATION


   ========================================================================== */





/* ==========================================================================
   Custom Menu Primary
   ========================================================================== */


{% set ulColor       = "transparent" %} /* Set ul background color */
{% set liColor       = "transparent" %} /* Set li background Color */
{% set aColor        = "#b2b2b2" %} /* Set link Color */
{% set aColorHover   = "#ffffff" %} /* Set link Hover Color */

/* Parent List */

.custom-menu-primary {
    margin:0 0 0 6px !important;
    padding: 78px 0 0;
    text-align: right;
}
.custom-menu-primary .hs-menu-wrapper > ul{
  background:{{ ulColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li{
  background:url("http://cdn2.hubspot.net/hub/448074/file-2085735354-png/Images/menu-divider.png") no-repeat right center;
}
.custom-menu-primary .hs-menu-wrapper > ul > li:last-child{
    background:none;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a{
  color:{{ aColor }};
  padding:3px 18px 3px 15px;
  font-weight: 600;
  font-size:16px;
  line-height: 1.75;
  text-decoration:none;
  {{ transition("color 0.2s ease 0s") }}
  text-transform: uppercase;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
  color:{{ aColorHover }};
}

/* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul{}
.custom-menu-primary .hs-menu-wrapper > ul ul li{
  background:{{ liColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a{
  color:{{ aColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
  color:{{ aColorHover }};
}

/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a,
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:1040px) {
      .custom-menu-primary .hs-menu-wrapper {
          display:block !important;
      }
  }




/* ==========================================================================
   Mobile Menu - Hubspot Standard Toggle Menu
   ========================================================================== */


/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can
 * use this for custom styling on any element when the menu is in the open position.
 */

.mobile-trigger, .child-trigger{
    display: none; /* Hide button on Desktop */
}

@media (max-width: 1039px){


  /* Variables
     ========================================================================== */

  {% set menuColorMobile = "#000000" %}   /* Set Mobile Menu Background Color */
  {% set aColorMobile = "#ffffff" %}      /* Set Link Color */
  {% set aColorHoverMobile = "#ffffff" %} /* Set Link Hover Color */

  /*
    * Menu Reset
    *
    * Remove styling from desktop version of custom-menu-primary. Place any
    * additional CSS you want removed from the mobile menu in this reset
    */

  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    {{ borderRadius("0") }}
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:{{aColorMobile}};
  }


  /* Toggle Button
     ========================================================================== */

  .mobile-trigger{
    display: inline-block !important; /* Show button on mobile */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /*******************************************/
    top: -76px;          /* Position Button at right of screen  */
    right: 3px;        /*******************************************/
    width: auto; /* Button width */
    height: auto; /* Button height */
    padding: 7px 10px 8px 10px;
    background: #000000; /* Background color */
    border:none;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    {{ borderRadius("4px") }}
    color: {{ menuColorMobile }};
  }
  .mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
    color:{{ aColorHoverMobile }};
    background-color:#000;
    border-color: transparent;
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{
    color:{{ aColorHoverMobile }};
    background-color: {{ menuColorMobile }};
    border-color: transparent;
  }


  /* Toggle Button Icon
     ========================================================================== */

  .mobile-trigger i{
    display: inline;
    position: relative;
    top: -4px;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
  }
  .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
    width: 20px; /* Icon line width */
    height: 3px; /* Icon line height */
    {{ borderRadius("0") }}
    background-color:#e8e5e3 !important; /* Icon color */
    display: inline-block;
  }
  .mobile-trigger i:before{
    top: -7px; /* Position top line */
  }
  .mobile-trigger i:after{
    top: 7px; /* Position bottom line */
  }

  .mobile-trigger:hover i, .mobile-trigger:hover i:before, .mobile-trigger:hover i:after,
  .mobile-open .mobile-trigger i, .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after{
      background-color: {{ aColorHoverMobile }}; /* Icon color */
  }


  /* Child Toggle Button
     ========================================================================== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */
    padding: 0 !important;
    border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  .child-trigger:hover{
    text-decoration: none;
  }
  .child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
  }
  .child-trigger i:after{
    position: absolute;
    content: '';
  }
  .child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
    background-color:{{ aColorMobile }}; /* Icon color */
    display: block;
  }
  .child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .child-trigger.child-open i{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }


  /* Menu Styles on Mobile Devices
     ========================================================================== */

   .custom-menu-primary.js-enabled{
       position: relative !important;
       padding-top: 0; /* Makes room for button */
       margin:0 !important;
   }

  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position: relative !important; /**************************************************************/
    top: 0;             /* Positions the menu to drop from the very top of the screen */
    left: 0;          /**************************************************************/
    padding: 0;
  }
  .custom-menu-primary .hs-menu-wrapper{
    background-color:{{ menuColorMobile }}; /* Menu background color set off global menuColorMobile variable */
    width: 100%; /* Full screen width */
  }
  .custom-menu-primary.js-enabled {
   margin: 0 !important;
   padding-top: 0;
   position: absolute;
   width: 100% !important;
}

   /* Level 1 Menu List Styles */

   .custom-menu-primary .hs-menu-wrapper > ul {
    padding: 0 18px;
    width: 100% !important;
    background:#000000;
}

  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 12px; /* Font size of top level list items */
    line-height: 12px;
    overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
    border-top:none; /* Adds transparent dark highlights to top of top level list items */
    border-top: medium none;

  }

  .custom-menu-primary .hs-menu-wrapper >  ul li a{
    padding: 8px 20px 10px;
    color:#b2b2b2; /* link color set by global mobile-aColor variable */
    font-weight:600;
    text-align:center;
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
    color:#b2b2b2; /* link hover color set by global mobile-aColorHover variable */
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    text-indent: 10px; /* Indent Child lists */
    font-size: 16px; /* Font size of child lists */
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }
}








/* ==========================================================================


   4. TEMPLATE MODULE SELECTORS


   ========================================================================== */





/* Common Template Selectors
   ========================================================================== */

body.one-column {}
body.two-column {}
body.three-column {}
.content-wrapper {}
.main-content {}
.sidebar{}
.sidebar.right{}
.sidebar.left{}

/* Common One Column Selectors */
body.site-page.one-column,
body.landing-page.one-column,
body.error-template.one-column,
body.password-template.one-column,
body.subscription-template.one-column {}

body.site-page.one-column .main-content,
body.landing-page.one-column .main-content,
body.error-template .main-content,
body.password-template .main-content,
body.subscription-template .main-content {}

/* Common Two Column Selectors */
body.site-page.two-column,
body.landing-page.two-column,
body.blog {}

body.site-page.two-column .main-content,
body.landing-page.two-column .main-content,
body.blog .blog-content {}

/* Common Three Column Selectors */
body.site-page.three-column,
body.landing-page.three-column {}

body.site-page.three-column .main-content,
body.landing-page.three-column .main-content {}


/* Site Pages
   ========================================================================== */

/* One Column Template */
body.site-page.one-column {}
body.site-page.one-column .content-wrapper {}
body.site-page.one-column .main-content {}

/* Two Column Template */
body.site-page.two-column {}
body.site-page.two-column .content-wrapper {}
body.site-page.two-column .main-content {}
body.site-page.two-column .sidebar.right {}

/* Three Column Template */
body.site-page.three-column {}
body.site-page.three-column .content-wrapper {}
body.site-page.three-column .main-content {}


/* Landing Pages
   ========================================================================== */

/* One Column Template */
body.landing-page.one-column {}
body.landing-page.one-column .content-wrapper {}
body.landing-page.one-column .main-content {}

/* Two Column Template */
body.landing-page.two-column {}
body.landing-page.two-column .content-wrapper {}
body.landing-page.two-column .main-content {}
body.landing-page.two-column .sidebar.right {}

/* Three Column Template */
body.landing-page.three-column {}
body.landing-page.three-column .content-wrapper {}
body.landing-page.three-column .main-content {}


/* System Pages
   ========================================================================== */

/* Error Templates 404, 500 */
body.error-template.one-column {}
body.error-template.one-column .content-wrapper {}
body.error-template.one-column .main-content {}

/* Password template */
body.password-template.one-column {}
body.password-template.one-column .content-wrapper {}
body.password-template.one-column .main-content {}

/* Email Subscribition templates */
body.subscription-template.one-column {}
body.subscription-template.one-column .content-wrapper {}
body.subscription-template.one-column .main-content {}








/* ==========================================================================


   5. COS COMPONENTS


   ========================================================================== */





/* ==========================================================================
   Blog
   ========================================================================== */

.blog .body-container .page-center {
    max-width: 1024px;
}

.blog h3 {
    border: medium none;
    /* margin:0; */
    /* padding:0; */
    /* display:none; */
}

.blog .top-module h3 {
  margin: 0;
  padding: 0;
}

.blog-listing-wrapper label {
    display: none;
}

.blog-listing-wrapper .hs-button.primary.large {
    display: none !important;
}

.blog .widget-type-google_search .hs-input {
    border: 1px solid #ada398;
    border-radius: 0;
    height: 38px;
    margin: 2px 0 0;
    box-shadow: none;
    width: 66.7% !important;
    position: relative;
}

.blog .widget-type-google_search .hs-input:focus {
    border: 1px solid #ada398;
    box-shadow: none;
}

.blog  .widget-type-google_search:after {
    color: #ada398;
    content: "";
    font-family: fontawesome;
    font-size: 16px;
    left: 29%;
    line-height: 38px;
    position: absolute;
    top: 3px;
}

.blog .widget-type-google_search  .hs-button.primary {
    display: none;
}

/*
.ribbon {
  display: block;
  width: 50px;
  position: relative;
  color: #fff;
  padding: 20 px 0 10 px;
  line - height: 1.5e m;
  text - align: center;
  text - transform: uppercase;
  font - weight: bold;
  text - shadow: 0 px - 1 px 0 px rgba(0, 0, 0, 0.3);
  background - color: #671b67;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(# 8e108 e),
  to(#671b67));
  background-image:-moz-linear-gradient(top, # 8e108 e, #671b67);
  background-image:-ms-linear-gradient(top, # 8e108 e, #671b67);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, # 8e108 e),
  color - stop(100 % , #671b67));
  background-image:-webkit-linear-gradient(top, # 8e108 e, #671b67);
  background-image:-o-linear-gradient(top, # 8e108 e, #671b67);
  background-image:linear-gradient(top, # 8e108 e, #671b67);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '$mcb-purp', endColorstr = '$mcb-purp-dark', GradientType = 0)
}

.ribbon: after {
display: block;width: 0;height: 0;content: "";position: relative;bottom: -34 px;z - index: 100;border - width: 0 25 px 24 px 25 px;border - style: solid;border - color: #671b67 # 671 b67 transparent #671b67}.ribbon-lg{width:70px}.ribbon-lg .day{font-size:1.4em}.ribbon-lg:after{bottom:-46px;border-width:0 35px 36px 35px}@media only screen and (min-width: 767px){a{-webkit-transition:color 0.2s;transition:color 0.2s}a.cta,.cta{font-size:14px}h3,h2,h1{font-size:18px}p,ul.re-list,ul,ol{font-size:16px}p.gran,ul.re-list.gran,ul.gran,ol.gran{font-size:18px}.header .toggle{font-size:40px;width:34px}.header nav.desktop .menu>li{float:left;border-left:1px solid # cac3bc
}
*/

.ribbon-container {
  position: absolute;
  top: 0;
  z-index: 2;
}

.ribbon {
  display: block;
  width: 50px;
  position: relative;
  color: #fff;
  padding: 20px 0 10px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);

  background-color: #671b67;
  background-repeat: repeat-x;
  /* background-image: -khtml-gradient(linear, left top, left bottom, from(#8e108e), to(#671b67)); */
  /* background-image: -moz-linear-gradient(top, #8e108e, #671b67); */
  /* background-image: -ms-linear-gradient(top, #8e108e, #671b67); */
  /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e108e, color-stop(100%, #671b67)); */
  background-image: -webkit-linear-gradient(top, #8e108e, #671b67);
  background-image: -o-linear-gradient(top, #8e108e, #671b67);
  background-image: linear-gradient(top, #8e108e, #671b67);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e108e', endColorstr='#671b67', GradientType=0);
}

.ribbon .day {
  font-size: 1.4em;
}

/*
  Sweet CSS3 Ribbons http://jsfiddle.net/kirkov/FT8hV/
*/
.ribbon:after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  position: relative;
  bottom: -34px;
  z-index: 100;
  border-width: 0 25px 24px 25px;
  border-style: solid;
  border-color: #671b67 #671b67 transparent;
}

.ribbon-lg {
  /* line-height: 1.5em; */
  width: 70px;
}

.ribbon-lg .day {
  font-size: 1.4em;
}

.ribbon-lg:after {
  bottom: -46px;
  border-width: 0 35px 36px 35px;
}

.post-listing .post-banner-image {
  width: 488px;
  height: 232px;
  overflow: hidden;
}

.blog-post-wrapper .post-banner-image {
  max-height: 540px;
  overflow: hidden;
}

.banner-and-date-section {
    display: inline-block;
    position: relative;
    margin-bottom: 11px;
    width: 48.8%;
}

.title-and-author-section {
    display: inline-block;
    margin-left: 24px;
    width: 47.8%;
    vertical-align: top;
}

#comment-form .hs-button {
    background: none repeat scroll 0 0 #8e108e;
    border-radius: 4px;
    border:none;
    color: #ffffff;
    font-family: MS Shell Dlg;
    font-size: 9px;
    padding: 8px;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1.2;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s;
    width: 184px;
    margin:14px 0;
    text-shadow:none;
}
#comment-form .hs-button:hover{
background-color: #ef8e2d;
}
.blog .custom-menu-primary .hs-menu-wrapper > ul > li.active > a {
    color:#ef8e2d;
}
/* Blog Post and Listing Body Class */
body.blog {}

/* Blog Post */
body.hs-blog-post {}

/* Blog Listing */
body.hs-blog-listing {}

/* Blog Columns Wrapper */
.blog .content-wrapper {}

.blog-post-wrapper .banner-and-date-section{
    width: 100%;
    position: relative;
}

 .blog-post-wrapper .hs-image-widget {
    width: 100% !important;
}
.blog-post-wrapper #hs_cos_wrapper_post_body img {
    width: 100%;
}
.blog-post-wrapper .date{
    top: -3px !important;
}
.blog-post-wrapper .post-header h2{
    margin: 21px 0;
}

.blog-post-wrapper .post-header h2 a {
    color: #ef8e2d;
}

.blog .widget-type-google_search label{
    display:none;
}

/* Blog Content Column
   ========================================================================== */

.blog .blog-content {
    position: relative;
}

/* Use this to style the main wrapper for the blog listing pages */
.blog-listing-wrapper {
    margin-top: 22px;
}

/* Use this to style the main wrapper for the blog post pages */
.blog-post-wrapper {
    background: url("http://cdn2.hubspot.net/hub/448074/file-2086502904-png/Images/dotter.png") repeat-x scroll center top;
    margin-top: 28px;
    padding-top: 32px;
}

/* Blog Title */
.hs-blog-header h1 a{}

/* Blog Post Title */
.post-header h2{
    margin:26px 0;
    padding:0;
    border-bottom:none;
}
.post-header h2 a {
    font-size:32px;
    line-height:38.4px;
    text-transform: capitalize;

}
.blog-post-wrapper #hubspot-author_data{
    width: 100%;
    margin:10px 0 40px;
}

/* Blog Author and Avatar */
#hubspot-author_data {
    color: #ada398;
    display: inline-block;
    font-family: Titillium Web,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    /* width: 275px; */
    margin:0;
    padding:0;
}

#hubspot-author_data a.author-link {
    border-right: 1px solid #b3aba1;
    color: #8e108e;
    font-family: Titillium Web,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding-right: 16px;
}
#hubspot-author_data a:hover.author-link{
    color: #ef8e2d;
}
.hs-author-avatar {}
.hs-author-avatar img {}

/* Use this to set up different styling for your blog posts */
.blog-listing-wrapper .post-listing .post-item {
    background: 
    /* url("http://cdn2.hubspot.net/hub/448074/file-2086502904-png/Images/dotter.png") repeat-x scroll center top, */
                url("http://cdn2.hubspot.net/hub/448074/file-2086502904-png/Images/dotter.png") repeat-x scroll center bottom;
    margin-top: 28px;
    padding-top: 32px;
}
.blog-listing-wrapper .post-listing .post-item .post-body {}
.blog-post-wrapper .post-body {}

/* Post Featured Image on Listings Page */
.hs-featured-image-wrapper {}
.hs-featured-image-wrapper .hs-featured-image-link {}
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image{
  border-width: 0;
  max-height: 170px;
  max-width: 210px;
  height: auto;
  width: auto;
  display: inline-block !important;
  float: right;
  margin: 20px 0 20px 20px;
}

.blog-post-wrapper #hubspot-topic_data{
  padding: 0 0 0 16px;
}


/* Read More Link */
a.more-link {
    display: inline-block;
    font-size: 20px;
    padding: 15px 0;
    text-transform: uppercase;
}

/* Blog Topics List */
#hubspot-topic_data {
    display: inline-block;
    float: none;
    margin:0;
    /* padding:0; */
    padding: 0 0 0 16px;
}
#hubspot-topic_data a.topic-link {
    color: #8e108e;
    text-decoration: none;
    transition: color 0.2s ease 0s;
    font-family:Titillium Web,sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:16px;
}
.title-and-author-section > p{
    color:#ada398;
    text-decoration: none;
    font-family:Titillium Web,sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:16px;
    padding-left: 16px;
}
#hubspot-topic_data a:hover.topic-link{
    color: #ef8e2d;
}

/* .blog .date { */
/*     background: url("http://cdn2.hubspot.net/hub/448074/file-2083324658-png/Images/ribbon.png") no-repeat scroll center top rgba(0, 0, 0, 0); */
/*     color: #ffffff; */
/*     font-size: 18px; */
/*     font-weight: bold; */
/*     height: 122px; */
/*     left: -7px; */
/*     line-height: 28px; */
/*     margin: 0; */
/*     padding:8px 12px 0; */
/*     position: absolute; */
/*     text-align: center; */
/*     text-transform: uppercase; */
/*     top: 97px; */
/*     width: 106px; */
/* } */

/* .blog .day { */
/*     font-size: 36px; */
/* } */

.blog .footer-container .page-center {
    max-width: 1024px;
    padding: 10px 12px 36px;
    border-top: medium none;
}

.blog .custom-copyright {
    /* border-top: 1px solid #a0968a; */
    padding: 10px 0 0;
}


/**
 * Blog Social Sharing icons
 *
 * Overrides defaults to better align icons and prevent overlapping
 */

.hs-blog-social-share {
   padding: 28px 0;
  background: url("http://cdn2.hubspot.net/hub/448074/file-2086502904-png/Images/dotter.png") repeat-x scroll center top,
          url("http://cdn2.hubspot.net/hub/448074/file-2086502904-png/Images/dotter.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
  height: auto;
}

/**
 * Blog Commments
 *
 * Custom styles are listed below, as the COS does not provide default styles.
 */

#comments-listing {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  margin-top: 30px;
}
.comment {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  padding: 15px 0;
}
.comment-date { font-size: 13px; text-align: right; }
.comment-from { font-weight: bold; }
.comment-body { padding: 10px 0; }

/* Pagination */
.blog-pagination {
    padding: 15px 0;
}
.blog-pagination .previous-posts-link {}
.blog-pagination .all-posts-link {}
.blog-pagination .next-posts-link {}



/* Blog Sidebar
   ========================================================================== */

.blog .blog-sidebar {}

/* Blog Modules */
.blog .blog-sidebar .widget-span {}




/* ==========================================================================
   Forms
   ========================================================================== */


/* All Global Forms
   ========================================================================== */

/* Form Field */
body .hs-form-field {}

/* Descriptions */
body .hs-field-desc {}

/* Labels */
body label {}
body .hs-form-field > label {}

/* One Line Inputs */
body input[type="text"],
body input[type="password"],
body input[type="datetime"],
body input[type="datetime-local"],
body input[type="date"],
body input[type="month"],
body input[type="time"],
body input[type="week"],
body input[type="number"],
body input[type="email"],
body input[type="url"],
body input[type="search"],
body input[type="tel"],
body input[type="color"],
body input[type="file"],
body textarea,
body select {
  width: 100%;
  font-family: {{ baseFontFamily }};
  font-size: {{ baseFontSize }};
   background-color: #ffffff;
    border: 1px solid #cccccc;
    {{ boxShadow("inset 0 1px 1px rgba(0, 0, 0, 0.075)") }}
    {{ transition("border linear 0.2s, box-shadow linear 0.2s") }}
    padding: 4px 6px;
  	line-height: 20px;
	color: #555555;
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
    max-width:500px;
    margin: 10px 0;
	{{ borderRadius("4px") }}
}

body input[type="text"]:focus,
body input[type="password"]:focus,
body input[type="datetime"]:focus,
body input[type="datetime-local"]:focus,
body input[type="date"]:focus,
body input[type="month"]:focus,
body input[type="time"]:focus,
body input[type="week"]:focus,
body input[type="number"]:focus,
body input[type="email"]:focus,
body input[type="url"]:focus,
body input[type="search"]:focus,
body input[type="tel"]:focus,
body input[type="color"]:focus,
body input[type="file"]:focus,
body textarea:focus,
body select:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    {{ boxShadow("inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)") }}
}

/* Separate Styles for Multiple Line Inputs */
body textarea {}
body textarea:focus {}

/* Separate Styles for Drop Downs */
body select {}
body select:focus {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}

/* Required */
body input:focus:required:invalid,
body textarea:focus:required:invalid,
body select:focus:required:invalid {}

body input:focus:required:invalid:focus,
body textarea:focus:required:invalid:focus,
body select:focus:required:invalid:focus {}

/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
   /* color: #555;
   opacity: 1; */
}
:-moz-placeholder { /* Firefox 18- */
   /* color: #555;
   opacity: 1; */
}
::-moz-placeholder { /* Firefox 19+ */
   /* color: #555;
   opacity: 1; */
}
:-ms-input-placeholder { /* IE10 */
   /* color: #555;
   opacity: 1; */
}


/* Form Module
   ========================================================================== */

/* Form Field */
.hs_cos_wrapper_type_form .hs-form-field {}

/* Descriptions */
.hs_cos_wrapper_type_form .hs-field-desc {}

/* Labels */
.hs_cos_wrapper_type_form label {}
.hs_cos_wrapper_type_form .hs-form-field > label {}

/* One Line Inputs */
.hs_cos_wrapper_type_form input[type="text"],
.hs_cos_wrapper_type_form input[type="password"],
.hs_cos_wrapper_type_form input[type="datetime"],
.hs_cos_wrapper_type_form input[type="datetime-local"],
.hs_cos_wrapper_type_form input[type="date"],
.hs_cos_wrapper_type_form input[type="month"],
.hs_cos_wrapper_type_form input[type="time"],
.hs_cos_wrapper_type_form input[type="week"],
.hs_cos_wrapper_type_form input[type="number"],
.hs_cos_wrapper_type_form input[type="email"],
.hs_cos_wrapper_type_form input[type="url"],
.hs_cos_wrapper_type_form input[type="search"],
.hs_cos_wrapper_type_form input[type="tel"],
.hs_cos_wrapper_type_form input[type="color"],
.hs_cos_wrapper_type_form input[type="file"],
.hs_cos_wrapper_type_form textarea,
.hs_cos_wrapper_type_form select {}

.hs_cos_wrapper_type_form input[type="text"]:focus,
.hs_cos_wrapper_type_form input[type="password"]:focus,
.hs_cos_wrapper_type_form input[type="datetime"]:focus,
.hs_cos_wrapper_type_form input[type="datetime-local"]:focus,
.hs_cos_wrapper_type_form input[type="date"]:focus,
.hs_cos_wrapper_type_form input[type="month"]:focus,
.hs_cos_wrapper_type_form input[type="time"]:focus,
.hs_cos_wrapper_type_form input[type="week"]:focus,
.hs_cos_wrapper_type_form input[type="number"]:focus,
.hs_cos_wrapper_type_form input[type="email"]:focus,
.hs_cos_wrapper_type_form input[type="url"]:focus,
.hs_cos_wrapper_type_form input[type="search"]:focus,
.hs_cos_wrapper_type_form input[type="tel"]:focus,
.hs_cos_wrapper_type_form input[type="color"]:focus,
.hs_cos_wrapper_type_form input[type="file"]:focus,
.hs_cos_wrapper_type_form textarea:focus,
.hs_cos_wrapper_type_form select:focus {}

/* Separate Styles for Multiple Line Inputs */
.hs_cos_wrapper_type_form textarea {}
.hs_cos_wrapper_type_form textarea:focus {}

/* Separate Styles for Drop Downs */
.hs_cos_wrapper_type_form select {}
.hs_cos_wrapper_type_form select:focus {}

/* Multiple Selection Inputs */
.hs_cos_wrapper_type_form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs_cos_wrapper_type_form input[type="radio"] {}
.hs_cos_wrapper_type_form input[type="checkbox"] {}


/* Blog Comment Form
   ========================================================================== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"],
#comment-form input[type="email"]{
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: none;
    color: #222222;
    font-family:MS Shell Dlg;
    font-size:14px;
    font-weight:400;
    line-height:16px;
    padding: 4px;
    width: 80%;
}
#comment-form input[type="text"]:focus,
#comment-form input[type="email"]:focus{
       background: none repeat scroll 0 0 #ffffff;
    border-color: #8e108e;
    color: #8e108e;
}

#comment-form textarea {
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid #cccccc;
     border-radius: 0;
    box-shadow: none;
    color: #222222;
    font-family:MS Shell Dlg;
    font-size:14px;
    font-weight:400;
    line-height:16px;
    padding: 4px;
    width: 80%;
}
#comment-form textarea:focus {
    background: none repeat scroll 0 0 #ffffff;
    border-color: #8e108e;
    color: #8e108e;
}

#comment-form input[type="checkbox"] {}

/* Error */
body .hs-common-error-message {}


/* Blog Subscription Form
   ========================================================================== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"] {}
#hs_form_target_blog_subscription input[type="email"]:focus {}

#hs_form_target_blog_subscription input[type="radio"], #hs_form_target_blog_subscription input[type="checkbox"] {
width: auto;
margin-right: 10px;
}


/* Google Search Form
   ========================================================================== */

/* Label */
.widget-type-google_search label {}

/* Input */
.widget-type-google_search input[type="text"] {}
.widget-type-google_search input[type="focus"] {}


/* Multi Column Form
   ========================================================================== */

body .hs-form fieldset.form-columns-1 {}
body .hs-form fieldset.form-columns-1 .hs-form-field {}

body .hs-form fieldset.form-columns-2 {}
body .hs-form fieldset.form-columns-2 .hs-form-field {}

body .hs-form fieldset.form-columns-3 {}
body .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}
body form.hs-form fieldset { max-width: none; }
body form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
body form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
body form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
body form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
body form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {
  body form.hs-form fieldset .hs-form-field { padding: 0; }
  body form.hs-form fieldset.form-columns-3 .hs-form-field,
  body form.hs-form .form-columns-2 .hs-form-field .hs-input,
  body form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100%; }
  body form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
}




/* ==========================================================================
   Buttons
   ========================================================================== */


/* All Global Buttons (Excluding CTAs)
   ========================================================================== */

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
  cursor: pointer;
  -webkit-appearance: none;
  font-family: {{ baseFontFamily }};
  font-size: {{ baseFontSize }};
  text-decoration: none !important;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    line-height: 20px;
	color: #333333;
	text-align: center;
	{{ textShadow("0 1px 1px rgba(255, 255, 255, 0.75)") }}
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	{{ borderRadius("4px") }}
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	{{ boxShadow("inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)") }}
}

body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
	{{ transition("background-position 0.1s linear") }}
}

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


/* Form Module Button
   ========================================================================== */

.hs_cos_wrapper_type_form .hs-button.primary.large {}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/* Blog Comment Button
   ========================================================================== */
#add-comment-button.hs-button.primary {}
#add-comment-button.hs-button.primary:hover {}
#add-comment-button.hs-button.primary:focus {}


/* Blog Subscription Button
   ========================================================================== */
#hs_form_target_blog_subscription .hs-button.primary.large {}
#hs_form_target_blog_subscription .hs-button.primary.large:hover {}
#hs_form_target_blog_subscription .hs-button.primary.large:focus {}


/* Google Search Button
   ========================================================================== */
.widget-type-google_search .hs-button.primary {}
.widget-type-google_search .hs-button.primary:hover {}
.widget-type-google_search .hs-button.primary:focus {}


/* CTA Buttons
   ========================================================================== */

/**
 * Override global CTA styles by wrapping the CTA module in a module group
 * that has an ID, and use that ID to prefix your CTA selector. Example shown below.
 *
 * All overriding properties require !important tags.
*/
#module-group-ID .cta_button {}
#module-group-ID .cta_button:hover {}
#module-group-ID .cta_button:focus {}

.cta_button {
  display: inline-block !important;
  width: auto !important;
  line-height: 1.2 !important;
  padding: 10px !important;
  border-radius: 4px !important;
  text-align: center !important;
  background: #8e108e !important;
  color: #fff !important;
  /* font-size: 9px !important; */
  /* text-transform: uppercase !important; */
  font-weight: 700 !important;
  /* letter-spacing: -0.05em !important; */
  /* width: 184px !important; */
  /* @include trans(background-color); */
}


#cta .cta_button:hover {
  background-color: #ef8e2d;
}





/* ==========================================================================


   6. MISCELLANOUS


   ========================================================================== */
.error-template form,
.password-template form,
.subscription-template form{
    width: 50%;
}
.landing-page.one-column form {
    width: 50%;
}

.widget-type-email_subscriptions h1,
.widget-type-email_subscriptions_confirmation h1,
.widget-type-email_simple_subscription h1{
    border-bottom: 1px solid #b3aba1 !important;
    color: #968a7c !important;
    font-size: 18px !important;
    font-weight:700 !important;
    font-family: "Titillium Web",sans-serif !important;
    line-height:25.2px !important;
    padding: 0 0 6px !important;
    text-transform: uppercase !important;
    margin:0 0 18px !important;
}
.widget-type-email_subscriptions h2,
.widget-type-email_subscriptions_confirmation h2,
.widget-type-email_simple_subscription h2{
    border-bottom: 1px solid #b3aba1 !important;
    color: #968a7c !important;
    font-size: 18px !important;
    font-weight:700 !important;
    font-family: "Titillium Web",sans-serif !important;
    line-height:25.2px !important;
    padding: 0 0 6px !important;
    text-transform: uppercase !important;
    margin:14px 0 18px !important;

}
.widget-type-email_subscriptions h3,
.widget-type-email_subscriptions_confirmation h3,
.widget-type-email_simple_subscription h3{
    border-bottom: 1px solid #b3aba1 !important;
    color: #968a7c !important;
    font-size: 18px !important;
    font-weight:700 !important;
    font-family: "Titillium Web",sans-serif !important;
    line-height:25.2px !important;
    padding: 0 0 6px !important;
    text-transform: uppercase !important;
    margin:10px 0 18px !important;
}




/**
 * Styles that do not fit into available sections above can go here.
 * For example, one would place 3rd party plugin overriding styles here.
 *
 * This section is NOT for 'Custom' styles.  All custom styles must go in the
 * proper sections above.
 *
 * For instance, custom header and footer styles must go in the HEADER and
 * FOOTER sections.  Custom styles for anything in-between the header and footer
 * (such as, styles that are unique to the HOMEPAGE only), must go in the
 * CONTENT section.
*/








/* ==========================================================================


   7. MOBILE MEDIA QUERIES


   ========================================================================== */





/* Screen sizes smaller than site maxWidth (.page-center)
   ========================================================================== */

@media (max-width: {{maxWidth}}) {}

@media (min-width:767px) and (max-width: 1039px){
    .custom-logo {
        padding: 24px 0 0 20px;
    }
    .footer-container .page-center{
        padding: 10px 0 40px;
    }
    .mobile-trigger i:before {
        top: -12px;
    }
    .mobile-trigger i,
    .mobile-trigger i:before,
    .mobile-trigger i:after {
        background-color: #e8e5e3;
        {{ borderRadius("1px") }}
        display: inline-block;
        height: 6px;
        width: 35px;
    }
    .mobile-trigger i:after {
        top: 11px;
    }
    .mobile-trigger{
        background: none repeat scroll 0 0 #000000;
        border: medium none;
        color: #000000;
        cursor: pointer;
        display: inline-block !important;
        font-size: 16px;
        font-weight: normal;
        height: auto;
        padding: 7px 10px 8px;
        position: absolute;
        right: 9px;
        text-align: left;
        text-transform: uppercase;
        top: -85px;
        width: auto;
    }
    .custom-menu-primary{
        margin: 0 !important;
        padding-top: 150px;
        position: absolute;
        width: 100% !important;
    }

    .custom-menu-primary .hs-menu-wrapper > ul {
        padding:28px 18px 0 !important;
        width: 100% !important;
        background:#000000;
    }
    .custom-menu-primary .hs-menu-wrapper > ul li {
        border-top:none;
    }
    .custom-menu-primary .hs-menu-wrapper > ul li a {
        color: #b2b2b2;
        display: block;
        font-size:14px;
        font-weight: 600;
        line-height: 1;
        padding: 8px 20px 10px;
        text-transform: uppercase;
        padding: 8px 20px;
        text-align: center;
    }
    .custom-menu-primary .hs-menu-wrapper > ul li a:hover {
        color: #b2b2b2;
    }
    #hubspot-topic_data {
       display: inline-block;
       float: none;
       margin: 0;
       padding-left: 16px !important;
    }
    #hubspot-author_data{
        width: 225px;
        font-size: 13px;
    }
    #hubspot-author_data a.author-link{
          font-size: 13px;
    }
    #hubspot-topic_data{
        font-size: 13px;
    }
    #hubspot-topic_data a.topic-link{
        font-size: 13px;
    }
}

@media (min-width:768px) and (max-width: 1000px){
    .banner-and-date-section {
       width: 47.8%;
    }
}

/* Landscape tablet and smaller devices
   ========================================================================== */

@media (max-width: 766px) {
    .error-template form,
    .password-template form,
    .subscription-template form{
        width: 100%;
    }
    .landing-page.one-column form {
        width: 100%;
    }
    .custom-logo {
        padding: 20px 0 28px 13px;
    }
    .custom-logo img {
        height: 41px;
        width: 159px;
    }
   .blog .widget-type-google_search .hs-input {
        width: 100% !important;
        max-width:100% !important;
    }
    .blog .widget-type-google_search:after {
        left: 94%;
    }
    .banner-and-date-section {
        display: inline-block;
        margin-bottom: 11px;
        width: 65.8%;
    }
    .title-and-author-section{
        margin-left: 0;
        width: 100%;
    }
    .post-header h2 {
        margin: 19px 0;
    }
    .post-header h2 a {
        font-size: 24px;
        line-height: 28.8px;
        text-transform: capitalize;
    }
    #hubspot-author_data{
        width: 190px;
    }
    #hubspot-author_data,
    #hubspot-author_data a.author-link,
    .title-and-author-section > p,
    #hubspot-topic_data a.topic-link{
        font-size: 10px;
        line-height: 10px;
    }
       .blog .footer-container .page-center{
        padding: 10px 12px 34px;
   }
       .blog .custom-copyright {
        border-top: 1px solid #a0968a;
        padding: 8px 0 0;
    }
    .custom-copyright p, .custom-copyright a{
        font-size: 12px;
        line-height: 16.8px;
    }
    .body-container p {
        font-size: 12px !important;
        line-height:16.8px;
    }
    .banner-and-date-section {
        width: 100%;
    }
}


#DIV_1 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 116px;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 0px;
    text-transform: uppercase;
    width: 70px;
    perspective-origin: 35px 58px;
    transform-origin: 35px 58px;
    background: rgb(103, 27, 103) -webkit-linear-gradient(top, rgb(142, 16, 142), rgb(103, 27, 103)) repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 16px/24px 'Titillium Web', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 20px 0px 10px;
}/*#DIV_1*/

#DIV_1:after {
    bottom: -46px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 36px;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 0px;
    text-transform: uppercase;
    width: 70px;
    z-index: 100;
    perspective-origin: 35px 18px;
    transform-origin: 35px 18px;
    content: '';
    border-top: 0px solid rgb(103, 27, 103);
    border-right: 35px solid rgb(103, 27, 103);
    border-bottom: 36px solid rgba(0, 0, 0, 0);
    border-left: 35px solid rgb(103, 27, 103);
    font: normal normal bold normal 16px/24px 'Titillium Web', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1:after*/

#SPAN_2, #BR_3 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 0px;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 16px/24px 'Titillium Web', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_2, #BR_3*/

#SPAN_4 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 0px;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 22.3999996185303px/24px 'Titillium Web', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_4*/





/* Landscape phones and smaller devices
   ========================================================================== */

@media (max-width: 479px) {
    .blog .widget-type-google_search:after {
        left: 92%;
    }}





/* HubSpot Metadata for local dev with upload_to_cos
   ========================================================================== */
/*
[hubspot-metadata]
{
    "id": 2076763118, 
    "path": "custom/page/MCBru-theme/mcbru-style.css"
}
[end-hubspot-metadata]
*/
